In [ ]:
import pandas as pd
from pathlib import Path
import os

# 1. Determine the base directory dynamically
try:
    # Works in .py files
    base_path = Path(__file__).resolve().parent
except NameError:
    # Works in .ipynb notebooks (gets current working directory)
    base_path = Path(os.getcwd())

# 2. Identify the Project Root
# If your script/notebook is in the 'test' folder, we need to go up one level
if base_path.name in ["test", "tests"]:
    project_root = base_path.parent
else:
    project_root = base_path

# 3. Construct the path to your CSV
file_path = project_root / "data" / "curated" / "nsw_sales_2025.csv"

# 4. Load the data
if file_path.exists():
    df = pd.read_csv(file_path)
    print(f"Successfully loaded data from: {file_path}")
    
else:
    print(f"Error: Path does not exist -> {file_path}")

In [5]:
df.head(10)

,Record_Type,District_Code,Property_Id,Sale_Counter,Download_Date,Property_Name,Unit_No,House_No,Street_Name,Locality,...,Settlement_Date,Purchase_Price,Zoning,Nature_of_Property,Primary_Purpose,Strata_Lot_No,Component_Code,Sale_Code,Interest_Share,Dealing_No
0,B,1,11883.0,1,20250106 01:05,NaN,NaN,178,Hopetoun St,Kurri Kurri,...,2024-12-30,620000,R3,R,RESIDENCE,NaN,MAD,NaN,0.0,AU723713
1,B,4,4558795.0,1,20250106 01:05,NaN,1,10,Rhodes St,Blackalls Park,...,2024-12-30,730000,NaN,R,RESIDENCE,1.0,NaN,NaN,0.0,AU724160
2,B,4,168011.0,2,20250106 01:05,NaN,NaN,314,Hillsborough Rd,Warners Bay,...,2024-12-23,3000000,RE2,R,RESIDENCE,NaN,ORR,NaN,0.0,AU718797
3,B,4,3763131.0,3,20250106 01:05,NaN,13,57,Burton Rd,Eleebana,...,2024-12-04,910000,NaN,R,RESIDENCE,13.0,NaN,NaN,0.0,AU644417
4,B,8,4583232.0,1,20250106 01:05,NaN,8,255,Sandgate Rd,Shortland,...,2024-12-31,700000,NaN,R,RESIDENCE,8.0,NaN,NaN,0.0,AU725651
5,B,8,4569379.0,2,20250106 01:05,NaN,12,28,Baker St,Mayfield,...,2024-12-30,895000,NaN,R,RESIDENCE,28.0,NaN,NaN,0.0,AU724829
6,B,8,240916.0,3,20250106 01:05,NaN,NaN,205,Mitchell St,Stockton,...,2024-12-30,3030000,R2,R,RESIDENCE,NaN,AHN,NaN,0.0,AU724428
7,B,10,263104.0,1,20250106 01:05,NaN,NaN,74,Campbell Ave,Anna Bay,...,2024-10-30,750000,R2,R,RESIDENCE,NaN,AAN,NaN,0.0,AU542017
8,B,10,2859783.0,2,20250106 01:05,NaN,NaN,2,Trumpeter Cct,Corlette,...,2024-12-27,880000,R2,R,RESIDENCE,NaN,AAE,NaN,0.0,AU723336
9,B,10,3974975.0,3,20250106 01:05,NaN,NaN,2285,Pacific Hwy,Heatherbrae,...,2024-12-23,2527757,RU2,R,RESIDENCE,NaN,RAE,NaN,0.0,AU718390

In [6]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 199909 entries, 0 to 199908
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Record_Type         199909 non-null  str
 1   District_Code       199909 non-null  int64
 2   Property_Id         199801 non-null  float64
 3   Sale_Counter        199909 non-null  int64
 4   Download_Date       199909 non-null  str
 5   Property_Name       5933 non-null    str
 6   Unit_No             66052 non-null   str
 7   House_No            196780 non-null  str
 8   Street_Name         199580 non-null  str
 9   Locality            199905 non-null  str
 10  Postcode            199909 non-null  int64
 11  Area                159858 non-null  float64
 12  Area_Type           159891 non-null  str
 13  Contract_Date       199909 non-null  str
 14  Settlement_Date     199908 non-null  str
 15  Purchase_Price      199909 non-null  int64
 16  Zoning              127436 non-null  str
 17  Nature_of_Property  199909 non-null  str
 18  Primary_Purpose     199883 non-null  str
 19  Strata_Lot_No       67911 non-null   float64
 20  Component_Code      127436 non-null  str
 21  Sale_Code           445 non-null     str
 22  Interest_Share      79365 non-null   float64
 23  Dealing_No          199909 non-null  str
dtypes: float64(4), int64(4), str(16)
memory usage: 36.6 MB