In [ ]:
import pandas as pd
from pathlib import Path
import os

# 1. Determine the base directory dynamically
try:
    # Works in .py files
    base_path = Path(__file__).resolve().parent
except NameError:
    # Works in .ipynb notebooks (gets current working directory)
    base_path = Path(os.getcwd())

# 2. Identify the Project Root
# If your script/notebook is in the 'test' folder, we need to go up one level
if base_path.name in ["test", "tests"]:
    project_root = base_path.parent
else:
    project_root = base_path

# 3. Construct the path to your CSV
file_path = project_root / "NSW_Real_Estate_Sales" / "output" / "nsw_sales_2025_merged.csv"

# 4. Load the data
if file_path.exists():
    df = pd.read_csv(file_path)
    print(f"Successfully loaded data from: {file_path}")
    
else:
    print(f"Error: Path does not exist -> {file_path}")

In [18]:
df.head(10)

,Record_Type,District_Code,Property_Id,Sale_Counter,Download_Date,Property_Name,Unit_No,House_No,Street_Name,Locality,...,Settlement_Date,Purchase_Price,Zoning,Nature_of_Property,Primary_Purpose,Strata_Lot_No,Component_Code,Sale_Code,Interest_Share,Dealing_No
0,B,171,3137510.0,43,20250210 01:02,NaN,NaN,20,LONGBOARD CCT,KINGSCLIFF,...,2025-01-31,2300000,R2,R,RESIDENCE,NaN,ALT,NaN,0.0,AU793961
1,B,84,4150919.0,3,20250512 01:18,NaN,11,3,WONGA WONGA ST,TURRAMURRA,...,2025-05-02,2900000,NaN,R,RESIDENCE,11.0,NaN,NaN,0.0,AV26083
2,B,209,4245968.0,23,20250609 01:17,NaN,1105,109,OXFORD ST,BONDI JUNCTION,...,2025-06-03,1050000,NaN,R,RESIDENCE,59.0,NaN,NaN,0.0,AV115840
3,B,81,592795.0,47,20250818 01:09,NaN,NaN,45,GOODEN DR,BAULKHAM HILLS,...,2025-08-11,1630000,R2,R,RESIDENCE,NaN,AJJ,NaN,NaN,AV318241
4,B,214,2217883.0,94,20251124 01:11,NaN,NaN,194,POPONDETTA RD,BLACKETT,...,2025-11-18,700000,R2,R,RESIDENCE,NaN,RAT,NaN,NaN,AV621241
5,B,260,4498625.0,14,20250106 01:07,NaN,6534,180,GEORGE ST,PARRAMATTA,...,2024-06-12,3495000,NaN,R,RESIDENCE,86.0,NaN,XA,0.0,AU148358
6,B,260,4498625.0,22,20250113 01:08,NaN,6534,180,GEORGE ST,PARRAMATTA,...,2024-06-12,3495000,NaN,R,RESIDENCE,86.0,NaN,XA,0.0,AU148358
7,B,10,4616058.0,6,20250623 01:07,NaN,8,69,CAMFIELD DR,HEATHERBRAE,...,2025-06-18,603900,NaN,R,RESIDENCE,8.0,NaN,NaN,NaN,AV158885
8,B,276,6020035.0,25,20251222 01:12,NaN,716,5,FINCH DR,EASTGARDENS,...,2025-12-16,980000,NaN,R,RESIDENCE,88.0,NaN,NaN,NaN,AV721821
9,B,10,4616493.0,3,20250804 01:07,NaN,1,11,BLUEWATER CL,TAYLORS BEACH,...,2025-07-25,429495,NaN,3,COMMERCIAL,1.0,NaN,NaN,NaN,AV272597